.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.navbar ul{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}

.navbar .ulMenu{
    width: 100%;
   justify-content: center;
}

.navbar li a{
    margin: 20px;
    color: #FFFFFF;
}

.navbar .menu .item:hover{
 color: #6A5ACD !important;
}

.navbar .menu .item{
    color:#FFFFFF !important;  
    text-decoration: none;
    font-size: 30px; 
    margin: 50px;
    font-family: 'poppins';
}

@media (min-width:950px) and (max-width:1200px){
    .navbar .menu .item{
        font-size: 22px; 
    }
}

@media (min-width:800px) and (max-width:949px){
    .navbar .menu .item{
        font-size: 22px; 
    }
    .navbar{
        display: grid;
        justify-content: space-between;
        padding-left: 0px;
    }
}

@media (min-width:700px) and (max-width:799px){
    .navbar .menu .item{
        font-size: 20px; 
    }
    .navbar{
        display: grid;
        justify-content: space-between;
        padding-left: 0px;
    }
}

@media (min-width:600px) and (max-width:699px){
    .navbar .menu .item{
        font-size: 16px; 
    }
    .navbar{
        display: grid;
        justify-content: space-between;
        padding-left: 0px;
    }
}

@media (min-width:360px) and (max-width:599px){
    .navbar .menu .item{
        font-size: 30px; 
    }
    .navbar{
        display: grid;
        justify-content: space-between;
        padding-left: 0px;
    }
    .navbar ul{
        display: grid;
        justify-content: space-between;
        text-align: left;
    }
}





