.presentation h1{
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 96px;
    text-align: left;
    margin-left: 50px;
    margin-top: 100px;
}

.presentation .divText{
    display:grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation .divText h2{
    font-family: Poppins;
    max-width: 1000px;
}

.presentation img{
    margin-left: 50px;
    width: 78%;
}

.presentation ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
}

.presentation li{
    font-size: 30px;
    font-weight: 200px;
    color:#6A5ACD; 
}

.presentation .div{
    width: 100%;
}