.skills{
 max-width: 1000px;
}

.skills h1{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 96px;
    text-align: left;
    margin-left: 50px;
    margin-top: 70px;
    color: #FFFFFF;
}

.skills p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    text-align: justify;
    margin-left: 10%;
    max-width: 800px;
}

.button{
    width: 150px;
    text-align: left;
    margin-left: 100px;
    margin-top: 70px;

}

.skills img{
    height: 70px;
    margin: 25px;
    border-radius: 20px;
}

.skills img:hover{
    height: 60px;
    border: 5px solid aliceblue;  
}

@media (min-width:900px) and (max-width:1200px){
    .skills h1{
        font-family: Poppins;
        font-size: 36px;
        font-weight: 500;
    }
    
    .skills p{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
    }
}

@media (min-width:360px) and (max-width:899px){
    .skills h1{
        font-family: Poppins;
        font-size: 30px;
        font-weight: 400px;
    }
    
    .skills p{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400px;
        max-width: 500px;
    }

    .skills img{
        height: 41px;
        margin: 14px;
        border-radius: 20px;
    }

    .skills img:hover{
        height: 36px;
        border: 3px solid aliceblue;  
    }
 
}