.btn{
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    width: auto;
}

.btn:hover{
    transition-duration: 0.5s;
    transform: translateY(-7px);
}
