.cards{
    text-align: center;
    align-items:center;
    margin: 15px;
    padding: 20px;
    border-radius: 30px 5px 30px 5px;
    width: 500px;
    box-shadow: 0px 0px 12px 0px #FFFFFF;
}

.cards img{
    max-width: 500px;
    border-radius: 20px;
    padding: 0px;
}

.cards section{
    border-radius: 20px;
    width: auto;
    margin: 75px;
    text-align: center;
    padding: 20px;
    margin: auto;
}

section p{
    text-align: justify;
}

@media (min-width:500px) and (max-width:599px){
    .cards{
        text-align: center;
        align-items:center;
        margin: 15px;
        padding: 20px;
        border-radius: 30px 5px 30px 5px;
        width: 400px;
        box-shadow: 0px 0px 12px 0px #FFFFFF;
    }
    
    .cards img{
        max-width: 350px;
        border-radius: 20px;
        padding: 0px;
    }
    
    .cards section{
        border-radius: 20px;
        width: auto;
        margin: 75px;
        text-align: center;
        padding: 20px;
        margin: auto;
    }  
}

@media (min-width:360px) and (max-width:499px){
    .cards{
        text-align: center;
        align-items:center;
        margin: 15px;
        padding: 20px;
        border-radius: 30px 5px 30px 5px;
        width: 250px;
        box-shadow: 0px 0px 12px 0px #FFFFFF;
    }
    
    .cards img{
        max-width: 250px;
        border-radius: 20px;
        padding: 0px;
    }
    
    .cards section{
        border-radius: 20px;
        width: auto;
        margin: 75px;
        text-align: center;
        padding: 20px;
        margin: auto;
    }  
}